.button {
  font: inherit;
  font-size: 4rem;
  border: 1px solid #9932cc;
  background: #9932cc;
  color: white;
  padding: 1.2rem 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  bottom: 1.5rem;
  left: calc(50% - 38px);
}

.button:hover,
.button:active {
  background: #b801b8;
  border-color: #b801b8;
}
