.item {
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.check {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  border: 2px solid #9932cc;
}

.input {
  border: none;
  color: inherit;
}
