# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


cache/
.vscode/ 
node_modules/

.DS_Store
.prettierignore

*.map
*.log
*.sketch
*.xd
*.fig



### Exemples 
# Pour ignorer un fichier précis
# 'fichier.ext'
# Pour ignorer un dossier complet
# dossier/
# Pour ignorer un type de fichier précis
# *.ext
# Pour exclure un fichier précis d'un type de fichiers ignorés en masse 
# *.ext
# !fichier.ext (ce fichier là ne sera pas ignoré)
# Pour ignorer des fichiers uniquement s'ils sont situés à la racine
# /fichier.ext
# Pour ignorer les mêmes fichiers dans tout le repo
#fichier.ext

# Pour ajouter au .gitignore un fichier déjà suivi par git
# Ce fichier apparaîtra toujours dans les précédents commit mais plus dans les suivants
# git rm --cached fichier.ext
# git rm --cached dossier/