@import-normalize;

/**
* RESET SOME STYLES 
**/

html {
  font-size: 62.5%; /*1rem = 10px*/
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

/**
* GLOBALS STYLES
**/

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #495057;
}

main {
  background-color: #eee;
  padding: 3rem 1.5rem;
  min-height: calc(100vh - 92px); /* hauteur page - hauteur header */
}
