.button {
  border: 1px solid var(--color-purple);
  border-radius: 10px;
  background: var(--color-purple);
  color: var(--color-white);
  font-weight: bolder;
  padding: 1rem;
  cursor: pointer;
}

.button:hover {
  background: var(--color-light-purple);
  border-color: var(--color-light-purple);
}
